.footer {
    background-color: #0578FF;
    color: white;

    &__top-box{
        height: 400px;
        display: flex;
        justify-content: center;
    }

    &__bottom-box{
        padding: 64px 64px 0px;
        display: flex;
        justify-content: space-between;
    }

    &__links{
        display: flex;
    }

    &__logo{
        height: 51px;
        color: white;
    }

    &__list{
        width: 192px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        &-item{
            cursor: pointer;

            &:hover{
                font-weight: bold;
            }
        }

        &-item:first-of-type{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

    &__date{
        padding: 40px 64px 76px;
    }
}

.contacts{
    padding: 60px 0;
    text-align: center;
    background-color: white;
    color: black;
    width: 50%;
    border-radius: 16px;
    margin-top: -120px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.5);

    &__title{
        font-size: 64px;
        font-weight: bold;
        margin-bottom: 30px;
        padding: 10px 0;
    }

    &__text{
        font-size: 28px;

        &--extra-margin{
            margin-bottom: 8px;
        }
    }

    &__adress{
        margin-top: 30px;
        font-size: 18px;
        width: 40%;
    }

}

@media (max-width: 768px) {
    .footer{
        &__bottom-box{
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            padding: 64px 32px 0px;
        }

        &__date{
          padding: 40px 32px 60px;
        }
    }

    .contacts{
        width: 65%;

        &__adress{
          width: 60%;
        }
    }
}

@media (max-width: 430px) {
    .footer{
        &__links{
          flex-wrap: wrap;
          gap: 24px;
          align-items: center;
          width: 100%;
        }

        &__bottom-box{
             padding: 40px 20px 0px;
        }

        &__list{
            width: calc(50% - 12px);
        }

        &__date{
          padding: 40px 20px 64px;
        }
    }
    .contacts{
        width: 90%;
    }
}