.download{
    background-color: #FFC501;
    padding: 128px 0 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    &__header{
        font-size: 62px;
        font-weight: bold;
    }

    &__images{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 125px;

        &-box{
           width: 15%;
        }

        img{
          width: 100%;
       }
    }
}

@media (max-width: 768px) {
    .download{
        gap: 32px;

        &__header{
           font-size: 40px;
         }

        &__images{
        flex-wrap: wrap;
        gap: 30px 43px;

        &-box{
           width: 30%;
           display: flex;
           justify-content: center;

           &:first-of-type{
            width: 100%;

               img{
               width: 30%;
                }
           }
        }

        img{
          width: 100%;
         }
    }
    }
}

@media (max-width: 430px) {
    .download{
        padding: 32px 20px;
        gap: 30px;

        &__header{
          text-align: center;
        }

        &__images{
          flex-wrap: wrap;
          gap: 30px 43px;

        &-box{
           width: 100%;
           &:first-of-type{
               img{
               width: 55%;
                }
           }
        }

        img{
          width: 55%;
         }
    }
    }
}