.faq{
    padding: 128px 177px 249px;

    &__title{
        font-size: 64px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    &__item{
        &:not(:last-of-type){
            border-bottom: 1px solid rgba(0, 0, 0, 0.503);
        }
    }

    &__question-box{
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }

      &__answer{
        padding: 16px 0;
    }
}

@media (max-width: 768px) {
    .faq{
        padding: 128px 32px 250px;
        
    }
}

@media (max-width: 430px) {
    .faq{
        padding: 64px 20px 160px;
    }
}