.gallery{
    padding: 128px 64px;
    background-color: #DFEDFE;

    &__header{
        font-size: 64px;
        font-weight: bold;
        margin-bottom: 24px;
    }

    &__main{
        display: flex;
        gap: 32px;
    }

    &__left{
        width: 43.5%;
        display: flex;
        flex-direction: column;
        gap: 32px;

        img{
            width: 100%;
        }
    }

    &__right{
        display: flex;
        flex-direction: column;
        width: 56.5%;
        gap: 32px;

        &-top{
            display: flex;
            gap: 32px;
        }
    }

    &__image{
        border-radius: 10px;

        &-top-left{
            width: calc(40% - 16px);
        }
        &-top-right{
            width: calc(60% - 16px);
        }
    }
}

@media (max-width: 768px) {
    .gallery{
        padding: 128px 32px;

        &__main{
            gap: 24px;
            flex-direction: column;
       }

        &__left{
            width: 100%;
            gap: 24px;
        }

        &__right{
            width: 100%;
            gap: 24px;
        }
    }
}

@media (max-width: 430px) {
    .gallery{
        padding: 64px 20px;
        gap: 12px;

        
        &__main{
            gap: 12px;
       }

        &__left{
            gap: 12px;
        }

        &__right{
            gap: 12px;

            &-top{
              flex-direction: column;
              gap: 12px;
            }
        }

        &__image{
          &-top-left{
            width: 100%;
          }
           &-top-right{
            width: 100%;
          }
    }
    }
}